/Proyecto2/nbproject/private/
/Formularios/nbproject/private/
/01/nbproject/private/
/02/nbproject/private/
/03/nbproject/private/
/04/nbproject/private/
/05/nbproject/private/
/funciones/nbproject/private/
/ObtenerconGet/nbproject/private/
/WebBootstrap/nbproject/private/
/06/nbproject/private/
/TiendaEnLinea/nbproject/private/
/Negocio/nbproject/private/