/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/09/2018, 02:04:36 PM
    Author     : juanz
*/
.barra-nav{
    background: black;
}

.img-logo{
    width: 30%;
}
.btn-registro{
    background: black;
    color: white;
    margin-left: 5px;
}
.btn-iniciar{
    background: black;
    color: white;
    
}
.fondo{
    background-color: #0086b3;
}
